*{
  margin: 0;
  padding: 0;
  }
  
  body {
  background-image: url(../Imagenes/luana\ baja.jpg);
  color: black;
  }
  
  nav {
      display: flex;
      flex-direction: row;
  }
  
  .logo {
      height: 65px;
  }
  
  ul {
   display: flex;
   flex-direction: row;
  }
  
  .menu{
      list-style-type: none;
      background-color: rgb(83, 83, 83);
      width: 100%;
      justify-content: flex-end;
      align-items: center;
  
  }
  
  .menu li a {
      color:rgb(186,198,195);
      padding: 20px;
      display: block;
  }
  
  .menu li a:hover {
  background-color: #9EA0A1;
  }
  
  
  h1 {
      margin: 45px;
      font-size: 60px;
      text-align:center;  
      font-family:'Dancing Script', cursive;
     text-shadow:4px 2px 10px #000
  }
  
  
  h2 { 
  height: 50px;
  margin: 15px 5px  15px 0px;
  }
  
  h3 {
      font-size: 20px;
      text-decoration: underline;
      padding: 15px;
      margin: 0px;
      text-align: left;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  
  h4 {
      font-size: 25px;
      text-align: center;
      border: solid black;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
  
  p {
          font-family: 'Kalam', cursive;
          font-size: 20px;
          margin: 10px 0px 0px 0px ;
        
      
      }
  
      div p {
          display: block;
          margin: auto;
          height: auto;
          float: left;
          }
          
          article h2 {
              text-align: center;
          }
  .proyecto {
      height: 600px;
      margin: 50px 50px  0px 200px;
      border: black solid; 
  }
  
  .opinion {
      height: 59px;
  }
  
  .foto {
      height: 500px;
      margin: 50px 50px  0px 500px;
      border: white solid;
  }
      
  .uno {
      display: block;
      width: 400px;
      height:auto;
      text-align: left;
      }
      
  .dos {
          display: block;
          width: 400px;
          height:auto;
          text-align: right;  
      }
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  
  .presentacion{
      height: 500px;
  }
  
  
  .redes {
    height: 30px;
  
  }
  
  footer{
      list-style-type: none;
      justify-content: center;
      font-size: 25px;
      color:rgb(0, 0, 0); 
      grid-area: footer;
  }

  









ESTILOS DE INTERIORISMO 

  body{margin: 0}
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 15px;
    background: rgb(169, 169, 169);
  }
  .container img {
    width: 100%;
    display: block;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  
  }
  .container img:hover {
    transform: scale(1.04);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }



  

  QUIENES SOMOS

h1#portfolio{
  font-family:'Dancing Script', cursive;

}

h1#titulo{
  font-family:'Dancing Script', cursive;
  text-shadow:4px 2px 10px #000
}



FOTO DE QUIENES SOMOS 
img{
    width: 100%;
}

.fotopresentacion{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 25px;
    margin: 1em;
}

.container-animation{
    transition: ease-in-out 1.5s;
}
.container-animation:hover{
    transform: scale(1.4) translateY(15px);
}


GALERIA NUESTROS TRABAJOS 

body{
    font: normal 12px Tahoma, Verdana, Arial, sans-serif;
    color: black;
}

#divContenedor{
    margin: 0 auto;
    width: 830px;
    margin-top: 50px;
}
    
.clsImagen{
    background: #000;
    border: solid 1px #222;
    box-shadow: 0px 0px 10px #222;
    border-radius: 5px;
    width: 250px;
    height: 400px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
}
    .clsImagen img{
        border-radius: 5px;
    }
    .clsImagen .clsDescripcion{
        background: #000;
        position: absolute;
        width: 250px;
        height: 400px;
        top: 250px;
        -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                    transform: rotate(90deg);
        -webkit-transition: all 1s ease-in;
            -moz-transition: all 1s ease-in;
                -o-transition: all 1s ease-in;
                    transition: all 1s ease-in;
        opacity: 0;
        border-radius: 5px;
    }
        .clsImagen .clsDescripcion *{
            padding: 10px;
        }
    .clsImagen:hover .clsDescripcion{
        -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                    transform: rotate(0deg);
        opacity: .7;
        top: 0;
    }

.clsImagen p {
  color: white;
}

.clsImagen h2 {
  color: white;
}






PAGINA DE CONTACTO
.body-contact{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1;
}

.tittle-contact{
  display: flex;
  justify-content: start;
  font-family: 'Kalam', cursive;
  font-size: 20px;
  margin: 30px;
  justify-content: center;
}

.tittle-contact h1{
  border-radius: 4px;
  padding: 0px 10px;
}

.contact-container{
  display: flex;
  margin-top: 40px;
  flex-direction: row-reverse;
  font-family: 'Kalam', cursive;
  font-size: 20px;
}

.contact-item{
  flex-grow: 1;
  width: 50%;
}

.map-container{
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  margin-bottom: 60px;
  position: relative;
  width: 90%;
  background-color: #dddddd;
}

.map{
  width: 90%;
  height: 18em;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

.form-container {
  border-radius: 5px;
  background-color: #dddddd;
  padding: 20px;
  margin: auto;
  margin-bottom: 40px;
  position: relative;
  width: 90%;
  
}

.form-control {
  padding-bottom: 1em;
  position: relative;
  width: 100%;
  background-color: #dddddd;
  border: none;
}

.form-control input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 0.8em;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
}

.form-control #message {
  height: 10em;
  width: 100%;
  font-size: 0.8em;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
}

.form-control #message:focus {
  outline: 0;
  border-color: #b38f79;
}

.form-control input:focus {
  outline: 0;
  border-color: #b38f79;
}

#error_message {
  margin-bottom: 20px;
  background: #df4d49;
  color: #252525;
  padding: 0px;
  text-align: center;
  font-size: 1em;
  font-family: 'Kalam', cursive;
  font-weight: 600;
  transition: all 0.5s ease;
}

button[type="submit"] {
  width: 100%;
  border: none;
  background: #d8c1ad;
  color: #252525;
  margin: auto;
  padding: 10px;
  font-size: 1em;
  font-family: 'Kalam', cursive;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

button[type="submit"]:hover {
  background: #df4d49;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.contact-message {
  background-color: #dddddd;
  color: black;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'Kalam', cursive;
}

@media (max-width: 900px){
  .contact-container{
      flex-direction: column-reverse;
      width: 100%;
  }

  .contact-item{
      width: 100%;
    }
}

@media (max-width: 380px){
  .contact-container{
      font-size: 15px;
  }
}
































GALERIA INDEX

.categories {
  margin: 2% 1.5%;
  z-index: 9990;
}

.categories button {
  border: 2px solid #ddd;
  z-index: 9990;
  border-radius: 3px;
  min-width: 80px;
  min-height: 37px;
  padding: 10px;
  background-color: #fff;
  font-weight: 600;
  color: #ccc;
  outline: none;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
}

.categories button:hover {
  border: 2px solid #aaa;
  color: #999;
}

.categories button:focus {
  border: 2px solid #3498ff;
  color: #3498ff;
}

.image-gallery {
  z-index: 9990;
  width: 100%;
  height: auto;
  background-color: transparent;
}

.image-card {
  display: inline-block;
  width: 31%;
  margin: 1.5% 0 0 1.5%;
  padding-top: 21%;
  border-radius: 4px;
  background-color: #FFF;
  position: relative;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
  overflow: hidden;
  cursor: pointer;
}

.image-card:hover {
  -webkit-box-shadow: 0 0 8px 0 #3498ff;
  box-shadow: 0 0 8px 0 #3498ff;
}

.no-event {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: 100%;
  pointer-events: none;
}

.both {
  clear: both; 
}

@media screen and (max-width: 480px) {
  .image-card {
    width: 45%;
    padding-top: 45%;
    margin: 1.5%;
  }
  
  .categories {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  
  .categories button {
    width: 47.5%;
    float: none;
    display: inline-block;
    margin-top: 5px;
    font-size: 3vmin;
  }
}

@media screen and (max-width: 320px) {
  .image-card {
    width: 80%;
    padding-top: 80%;
    margin: 2% 10%;
  }
  
  .categories button {
    width: 80%;
    float: none;
    display: block;
    margin: 0px auto 7px auto;
    font-size: 5vmin;
  }
}










#content{
  font-family:'Dancing Script', cursive;
  font-size:x-large;
  font-weight:400;
  width:900px;
  border-radius: 40px 40px 40px 40px;
  float:center;
  margin-top:0px;
 
}









